.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}
.subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.title {
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

.row-start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mr-10 {
    margin-right: 10px;
}

.icon-size {
    font-size: 25px;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

.back-icon {
    font-size: 25px;
    margin: 10px;
}