<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="back-icon" name="arrow-back" routerLink="/tabs/tab3"></ion-icon>    
    </ion-buttons>
    <ion-title>
      Job
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="job">
  <p class="title">{{ job.name }}</p>
  <ion-item>
    <ion-label position="floating" class="subtitle">Looking for:</ion-label>
    <p >{{ job.jobTitle }}</p>
  </ion-item>    
  <ion-item>
    <ion-label position="floating" class="subtitle">About this offer:</ion-label>
    <p >{{ job.description }}</p>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="subtitle">We are from:</ion-label>
    <p >{{ job.country }}, {{ job.city }}</p>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="subtitle">Some links about us:</ion-label>
    <div class="space-between w-100" *ngFor="let link of job.links">
      <p >{{ link }}</p>
    </div>
  </ion-item>
  <ion-item>
    <div class="center">
      <div class="row-start">
        <ion-icon name="eye" class="icon-size mr-10"></ion-icon>
        <p class="mr-10">{{job.views}}</p>
      </div>
      <div class="row-start">
        <ion-icon name="people" class="icon-size mr-10"></ion-icon>            
        <p class="mr-10" *ngIf="job.following">{{job.following.length}}</p>
      </div>  
    </div>
  </ion-item>
  <ion-item>
    <div class="btn-wrapper">
      <ion-button *ngIf="!currentUserIsFollowingThisJob" expand="block" fill="outline" (click)="followAJob()">Follow</ion-button>
      <ion-button *ngIf="currentUserIsFollowingThisJob" expand="block" fill="outline" (click)="ungfollowAJob()">Unfollow</ion-button>
      <ion-button expand="block" fill="outline">Message</ion-button>
    </div>
  </ion-item>
</ion-content>
