<ion-header>
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card class="col-center">
      <ion-card-header>
        <ion-card-title>Don't have a profolio?</ion-card-title>
        <ion-card-subtitle>Click here to create one!</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button class="input-wrapper" expand="full" routerLink="/tabs/tab3">Create profolio</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="col-center">
      <ion-card-header>
        <ion-card-title>Browse all</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button shape="round" fill="outline">See more</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="col-center">
      <ion-card-header>
        <ion-card-title>Explore our favorites</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button shape="round" fill="outline">See more</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="col-center">
      <ion-card-header>
        <ion-card-title>Explore projects or profolios near you</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button shape="round" fill="outline">See more</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
