<ion-header>
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <div class="space-between">
      <p class="title">Browse Profolios</p>
      <ion-icon class="title" name="arrow-forward"></ion-icon>
    </div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <div class="space-between">
      <p class="title">New job opportunities</p>
      <ion-icon class="title" name="arrow-forward"></ion-icon>
    </div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <div class="space-between">
      <p class="title">Popular job opprotunities</p>
      <ion-icon class="title" name="arrow-forward"></ion-icon>
    </div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <div class="space-between">
      <p class="title">New blog posts</p>
      <ion-icon class="title" name="arrow-forward"></ion-icon>
    </div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <div class="space-between">
      <p class="title">Popular blog posts</p>
      <ion-icon class="title" name="arrow-forward"></ion-icon>
    </div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
      <ion-slide>
        <ion-card class="w-100">
          <ion-card-header>
            <ion-card-title>Ime firme</ion-card-title>
            <ion-card-subtitle>Pozicija u firmi</ion-card-subtitle>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
