.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 500;
}
