
.col { 
    display: flex;
    flex-direction: column;
}

.row-start {
    display: flex;
}

.col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

.title {
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.job-segment-subtitle {
    font-size: 20px;
    font-weight: 500;
}

.row {
    display: flex;
    justify-content: center;
}

.icon {
    font-size: 25px;
    padding: 10px;
}

.img-wrapper {
    width: 100px;
    height: 100px;
}

.reg-link {
    color:rgb(56, 128, 255);
}

.link-icon {
    align-self: center;
    height: 25px;
    width: 25px;
}

.w-100 {
    width: 100%;
}

.w-90{
    width: 90%;
}

#job-card:focus {
    outline: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.segment-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.icon-wrapper {
    font-size: 25px;
    margin-top: 20px;
}