<ion-header>
  <ion-toolbar>
    <ion-title>
      Profolio
    </ion-title>
    <ion-icon class="icon" name="settings" slot="end" routerLink="/settings"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment class="segment-wrapper" scrollable value="{{selectedSegment}}" (ionChange)="segmentChanged($event.detail.value)">
    <ion-segment-button value="profolio">
      <ion-label>Profolio</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jobs">
      <ion-label>Jobs</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="col">
    <ion-spinner name="crescent" color="primary" *ngIf="loading"></ion-spinner>
  </div>

<div [ngSwitch]="selectedSegment">
  <div *ngSwitchCase="'profolio'">
    <div class="col" *ngIf="userHasProfolio && !loading">
      <div class="input-wrapper row">
        <ion-avatar class="img-wrapper">
          <img src="../../assets/avatar.png">
        </ion-avatar>
      </div>
      <p class="title">{{ profolio.name }}</p>
       
      <ion-item>
        <ion-label class="subtitle"  position="floating">Current position</ion-label>
        <p>{{ profolio.jobTitle }}</p>
      </ion-item>
      <ion-item>
        <ion-label class="subtitle"  position="floating">About me</ion-label>
        <p>{{ profolio.description }}</p>
      </ion-item>
      <ion-item>
        <ion-label class="subtitle"  position="floating">Useful links</ion-label>
        <div class="space-between w-100" *ngFor="let link of profolio.links">
          <a href="{{link}}" target="_blank">{{ link }}</a>
        </div>  
      </ion-item>  
      <ion-item>
        <ion-label class="subtitle"  position="floating">Location</ion-label>
        <p>{{ profolio.country }}, {{ profolio.city }}</p>
      </ion-item>  
    </div>
    
    
    <ion-card class="col-center" *ngIf="!userHasProfolio && !loading">
      <ion-card-header>
        <ion-card-title>Start by creating your profolio!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-card-subtitle>Profolio is esentialy your profile page but a portfolio at the same time, other users can access it and get to know you and your skills better, so make sure to create one as soon as possible!</ion-card-subtitle>
        <ion-button shape="round" fill="outline" routerLink="/profolio">Create profolio</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngSwitchCase="'jobs'">
    <div>
      <p class="job-segment-subtitle" *ngIf="!loading">Following job opportunities</p>
      <div *ngIf="userHasFollowingJobs && !loading">
      <ion-card class="row-start" *ngFor="let job of followingJobs" >
        <div id="job-card" class="col-center w-90" [routerLink]="['/preview-job', job.id]">
          <ion-card-header>
            <ion-card-title>{{job.name}}</ion-card-title>
            <ion-card-subtitle>{{job.jobTitle}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="row-start">
            <div class="row-start">
              <ion-icon name="eye" class="job-segment-subtitle mr-10"></ion-icon>
              <p class="mr-10">{{job.views}}</p>
            </div>
            <div class="row-start">
              <ion-icon name="people" class="job-segment-subtitle mr-10"></ion-icon>            
              <p class="mr-10">{{job.following?.length}}</p>
            </div>
          </ion-card-content>
        </div>
        <div class="col-center">
          <ion-icon name="trash" class="icon-wrapper" (click)="deleteFollowingJob(job)"></ion-icon>
        </div>
      </ion-card>
    </div>
    <div *ngIf="!userHasFollowingJobs && !loading">
      <p>You are not following any job opportunities at this moment, check out explore tab to see if there is something you would like to follow.</p>
    </div>
    </div>
    <div>
      <p class="job-segment-subtitle" *ngIf="!loading">Created job opportunities</p>
    <div *ngIf="userHasCreatedJobs && !loading">
      <ion-card class="row-start" *ngFor="let job of createdJobs" >
        <div id="job-card" class="col-center w-90" [routerLink]="['/tabs/preview-job', job.id]">
          <ion-card-header>
            <ion-card-title>{{job.name}}</ion-card-title>
            <ion-card-subtitle>{{job.jobTitle}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="row-start">
            <div class="row-start">
              <ion-icon name="eye" class="job-segment-subtitle mr-10"></ion-icon>
              <p class="mr-10">{{job.views}}</p>
            </div>
            <div class="row-start">
              <ion-icon name="people" class="job-segment-subtitle mr-10"></ion-icon>            
              <p class="mr-10">{{job.following?.length}}</p>
            </div>
          </ion-card-content>
        </div>
        <div class="col-center">
          <ion-icon name="create" class="icon-wrapper" [routerLink]="['/tabs/create-job', job.id]"></ion-icon>
          <ion-icon name="trash" class="icon-wrapper" (click)="deleteJob(job)"></ion-icon>
        </div>
      </ion-card>
    </div>
    <div *ngIf="!userHasCreatedJobs && !loading">
      <p>You don't have created job opportunities at this moment, click the button bellow to create one.</p>
    </div>
    <ion-button *ngIf="!loading" shape="round" fill="outline" routerLink="/tabs/create-job">Create job</ion-button>
    </div>
  </div>
</div>

</ion-content>
