
.col { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    width: 100%;
    margin-bottom: 30px;
}

.title {
    font-size: 30px;
    color:rgb(56, 128, 255);
}

.row {
    display: flex;
    justify-content: center;
}

.img-wrapper {
    width: 100px;
    height: 100px;
}

.reg-link {
    color:rgb(56, 128, 255);
}

.link-icon {
    align-self: center;
    height: 25px;
    width: 25px;
}

.w-100 {
    width: 100%;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.back-icon {
    font-size: 25px;
    margin: 10px;
}